name: Run tests

on:
  push:
    branches:
    - main
    - develop
  pull_request:
    branches:
    - main
    - develop

jobs:
  unit_tests:
    name: Unit Tests
    runs-on: macos-latest
    strategy:
      matrix:
        platform:
          - iOS

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - if: ${{ matrix.platform[0] != 'macOS' }}
      name: Create Required Simulators
      run: |
        set -eo pipefail
        xcrun simctl delete all
        fastlane create_simulators platform:${{ matrix.platform[0] }} version:${{ matrix.platform[1] }}


    - name: List available simulators
      run: xcrun simctl list devices available

    - name: Setup Xcode version
      uses: maxim-lobanov/setup-xcode@v1.6.0
      with:
        xcode-version: latest-stable

    - name: Run UnitTests
      run: fastlane test

    - name: Archive test artifacts
      uses: actions/upload-artifact@v5
      if: failure()
      with:
        name: test-artifacts
        path: |
          ./fastlane/test_output/*.xcresult
